/*
div {
	outline: 1px dotted #666;
}
*/
html {
	font-size: 100px;
	user-select: none;
	cursor: default;
}

input, textarea {
	user-select: text;
}

.hornchat {
	width: 100%;
	height: 100%;
	font-size: 0.16rem;
	font-family: Helvetica, Arial, sans-serif;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(img/asphalt.jpg) repeat scroll 0 0;
}

.app {
	color: #111;
}

.table {
	display: flex;
	justify-content: space-between;
}

.room {
	width: 100%;
	height: 80%;
	transition: transform 0.2s ease 0s;
}

.alert {
	margin: 0.1rem;
}

.name {
	margin-right: 0.05rem;
	margin-left: 0.05rem;
	color: #081;
}

.value {
	margin-right: 0.05rem;
	margin-left: 0.05rem;
	color: #333;
}

.messages {
	height: 80%;
	margin: 0.05rem 0 0.5rem;
	overflow: hidden;
}

.message-adding {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	z-index: 10;
	background: #fff;
	display: flex;
	justify-content: space-between;
}

.message-typing {
	flex-grow: 3;
	height: 0.5rem;
}

.type-message {
	color: #111;
	background-color: #eee;
	border: 0.01rem solid #aaa;
	padding: 0.05rem;
	box-sizing: border-box;
	width: 100%;
	height: 0.48rem;
	margin-top: 0.01rem;
}

.type-message:focus {
	box-shadow: 0 0 0.25rem 0 rgba(48, 144, 255, 0.7);
	background: linear-gradient(rgba(220, 230, 255, 0.9), rgba(220, 230, 255, 0.9));
	border: 0.01rem solid #39f;
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	color: #fff;
	border: 0 solid #000;
	background: #39f;
	white-space:nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 5;
	box-shadow: 0 0 0.1rem 0 rgba(48, 144, 255, 0.7);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn .label-top, .btn .label-bottom {
	height: 0.1rem;
	text-align: right;
	font-size: 0.08rem;
	padding-right: 0.02rem;
}

.message-adding .btn {
	height: 0.48rem;
	width: 0.5rem;
	margin-top: 0.01rem;
	box-shadow: none;
}

.uploader-input {
	height: 0.48rem;
	width: 0.5rem;
	margin-top: 0.01rem;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.avatar {
	background: #ddd;
	margin: 0.02rem;
	height: 0.5rem;
	border: 0.01rem solid #eee;
	border-radius: 50%;
	text-align: center;
	flex: 0 0 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list {
	background: #f1f1f1;
	border: 0.01rem solid #ccc;
}

.list-item {
	border-bottom: 0.01rem solid #ccc;
	cursor: pointer;
}

.list-item:hover {
	background: #e6e6e6;
}
