.menu {
	color: #39f;
	position: fixed;
	width: 2.24rem;
	height: 0.54rem;
	right: 0;
	top: 0;
	background: #eee;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 0.04rem;
}

.menu.open {
	width: 2.8rem;
	height: 100%;
	overflow-y: auto;
}

.menu-inner {
	cursor: auto;
	font-size: 0.16rem;
	font-weight: 500;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	width: 1.64rem;
	text-align: left;
}

.menu-item {
	font-size: 0.3rem;
	font-weight: 700;
	width: 0.46rem;
	height: 0.4rem;
	text-align: center;
	cursor: pointer;
	margin-top: 0.07rem;
}

.menu .avatar {
	height: 0.5rem;
	font-size: 0.16rem;
	font-weight: 500;
	margin-top: 0.01rem;
}

.menu-item.open::before {
	content: '✖';
	font-size: 0.3rem;
	color: #444;
	text-align: center;
	position: fixed;
	right: 0.1rem;
	top: 0.05rem;
	width: 0.4rem;
	height: 0.4rem;
	background: transparent;
}

.menu-item.open {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	margin-top: 0;
}

.menu-button {
	margin: 0.01rem;
}

.menu-button {
	width: 0.8rem;
	display: inline-block;
}

.menu .name {
	overflow: hidden;
}

.audio-player .info {
	display: flex;
	justify-content: space-between;
}

.audio-player .range {
	width: 1.93rem;
}

.menu .btn {
	height: 0.5rem;
	width: 0.8rem;
	font-size: 0.12rem;
	box-shadow: 0 0 0.1rem 0 rgba(48, 144, 255, 0.7);
}
