.message {
	margin: 0.05rem auto 0.05rem 0;
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.message-own {
	margin: 0.05rem 0 0.05rem auto;
	text-align: right;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.message .message-main {
	margin-left: 0;
	margin-right: auto;
	overflow: hidden;
}

.message-own .message-main {
	margin-left: auto;
	margin-right: 0.02rem;
}

.message-own>div {
	margin-left:0;
}

.message a {
	color: #17e;
}

.message .status {
	height: 0.18rem;
	font-size: 0.12rem;
	background: #ddd;
	border-radius: 0.02rem;
	max-width: max-content;
}

.message-own .status {
	margin-right: 0;
	margin-left: auto;
	text-align: right;
}

.message .status .controls {
	cursor: pointer;
	padding: 0 0.1rem;
	display: none;
}

.message .status:hover .controls {
	display: inline-block;
}

.message .status:hover .name {
	display: none;
}

.message .text-user {
	font-size: 0.16rem;
	background: #ddd;
	color: #000;
	border-radius: 0.04rem;
	border: 0.01rem solid #fff;
	padding: 0.06rem;
	max-width: max-content;
	cursor: pointer;
}

.message-own .text-user {
	margin-left: auto;
	margin-right: 0;
}

.message .text-user img {
    max-height: 0.24rem;
    width: auto;
}

.message .text-system {
	padding: 0.08rem;
	background: #ddd;
	color: #777;
	border-radius: 0.04rem;
	max-width: max-content;
}

.message .attachment img {
	margin: 0.01rem;
    max-height: 1.2rem;
    width: auto;
}

.message .avatar:hover {
	transform: matrix(2, 0, 0, 2, 21, 0);
}

.typing {
}

.typing::after {
	content: '...';
	margin: 0 0.1rem;
}

.appeal {
	color: #aa0;
	margin: 0 0.05rem;
}

.appeal::before {
	content: '.';
}

.private-after,
.private-before {
	color: #f66;
	margin: 0 0.05rem;
}

.private-after::after,
.private-before::before {
	content: '!';
}

