.modal {
	color: #39f;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 0.16rem;
	font-family: Helvetica, Arial, sans-serif;
	display: none;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255,255,255,.8);
}

.modal.pop {
	z-index: 1000;
	display: flex;
}

.modal .info {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.modal .alert,
.modal .choose {
	width: 90%;
	height: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 0.01rem solid #ccc;
	overflow: auto;
	background: #eee;
	cursor: auto;
}

.modal .alert-line {
	padding: 0.05rem;
}

.modal .modal-inner {
	margin: 0.2rem;
}

.modal .info::before {
	content: '✖';
	font-size: 0.30rem;
	color: #444;
	text-align: center;
	position: fixed;
	left: 0.05rem;
	top: 0.05rem;
	width: 0.4rem;
	height: 0.4rem;
	background: transparent;
	cursor: pointer;
}

.modal .picture,
.modal .audio,
.modal .smile {
	display: inline-block;
	vertical-align: top;
}

.modal .picture-adding .img,
.modal .to-avatar .img {
	margin: 0.01rem;
    height: 0.48rem;
    width: auto;
    cursor: pointer;
}

.modal .smile-adding .img,
.modal .audio-adding .img {
	margin: 0.05rem;
    height: 0.32rem;
    width: auto;
    cursor: pointer;
}

.modal .btn {
	width: 0.8rem;
}
