body {
	background-color: #c6c6c6;
}

.co-red {
	color: #b33 !important;
}

.co-green {
	color: #3b3 !important;
}

.co-blue {
	color: #33b !important;
}

.b-red {
	border: 0.01rem solid #b33 !important;
}

.b-green {
	border: 0.01rem solid #3b3 !important;
}

.b-blue {
	border: 0.01rem solid #33b !important;
}

.b-transparent {
	border: 0.02rem solid rgba(255, 255, 255, 0) !important;
}

.o-red {
	outline: 0.01rem solid #b33 !important;
}

.o-green {
	outline: 0.01rem solid #3b3 !important;
}

.o-blue {
	outline: 0.01rem solid #33b !important;
}

.bg-red {
	background: linear-gradient(rgba(255, 200, 200, 0.9), rgba(255, 200, 200, 0.9)) !important;
}

.bg-green {
	background: linear-gradient(rgba(200, 255, 200, 0.9), rgba(200, 255, 200, 0.9)) !important;
}

.bg-blue {
	background: linear-gradient(rgba(200, 200, 255, 0.9), rgba(200, 200, 255, 0.9)) !important;
}

.shadow-red {
    box-shadow: 0 0 0.25rem 0 rgba(255, 200, 200, 0.7) !important;
}

.shadow-green {
    box-shadow: 0 0 0.25rem 0 rgba(200, 255, 200, 0.7) !important;
}

.shadow-blue {
    box-shadow: 0 0 0.25rem 0 rgba(200, 200, 255, 0.7) !important;
}

.prompt {
}

.prompt::before {
	content: '>' !important;
	margin: 0 0.1rem;
}

.ta-right {
	text-align: right;
}

.f-xs {
	font-size: 0.08rem;
}

.i-small {
    height: 0.6rem; /* you can use % */
    width: auto;
}

.i-contain {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.show {
	visibility:visible !important;
	opacity:1;
	transition:opacity 0.2s linear;
	transition-delay:0s;
}

.hide {
	visibility:hidden !important;
	opacity:0;
	transition:visibility 0s linear 0.2s,opacity 0.2s linear;
}

.animated {
	animation-duration: .75s;
	animation-fill-mode: both;
}

@keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, -40px, 0);
	}

	75% {
		transform: translate3d(0, 10px, 0);
	}

	90% {
		transform: translate3d(0, -5px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.bounceInUp {
	animation-name: bounceInUp;
}

.dim {
	opacity: 0.5;
	z-index: -100;
}

.cur-wait {
	cursor: wait;
}

.click {
	cursor: pointer;
	text-decoration: underline;
}

.overflow-hidden {
	overflow: hidden;
}
