body.dark {
	background-color: #090909;
}

.dark .hornchat {
	background: url(img/asphalt.jpg) repeat scroll 0 0;
}

.dark .app {
	color: #ccc;
}

.dark .name {
	color: #4a5;
}

.dark .value {
	color: #999;
}

.dark .message-adding {
	background: #000;
}

.dark .type-message {
	background-color: #111;
	color: #ccc;
	border: 0.01rem solid #333;
}

.dark .type-message:focus {
	box-shadow: 0 0 0.25rem 0 rgba(16, 112, 208, 0.7);
	background: linear-gradient(rgba(0, 20, 80, 0.9), rgba(0, 20, 80, 0.9));
	border: 0.01rem solid #17e;
}

.dark .btn {
	background: #17e;
	box-shadow: 0 0 0.1rem 0 rgba(16, 112, 208, 0.7);
}

.dark .message-adding .btn {
	box-shadow: none;
}

.dark .avatar {
	border-color: #aaa;
	background: #444;
}

.dark .list {
	background: #111;
	border: 0.01rem solid #333;
}

.dark .list-item {
	border-bottom: 0.01rem solid #333;
}

.dark .list-item:hover {
	background: #0a0a0a;
}


/*menu*/
.dark .menu {
	color: #17e;
	background: #000;
}

.dark .menu-item.open::before {
	color: #ccc;
	background: #000;
}

.dark .menu-item.open {
	background: #000;
}

/*message*/
.dark .message a {
	color: #6bf;
}

.dark .message .status {
	background: #444;
}

.dark .message .text-user {
	background: #444;
	color: #ddd;
	border: 0.01rem solid #aaa;
}

.dark .message .text-system {
	background: #444;
	color: #aaa;
}
.dark .message .avatar {
	background: #444;
}

.dark .appeal {
	color: #cc0;
}

.dark .private-after,
.dark .private-before {
	color: #f66;
}

/*modal*/
.dark .modal {
	color: #39f;
	background: rgba(0,0,0,.8);
}

.dark .modal .alert,
.dark .modal .choose {
	background: #000;
	border: 0.01rem solid #333;
}

/*presentational*/
.dark .bg-red {
	background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) !important;
}

.dark .bg-green {
	background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)) !important;
}

.dark .bg-blue {
	background: linear-gradient(rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)) !important;
}
